body {
    font-family: "Lato", sans-serif;
    background-color: antiquewhite;
    transition: all 1s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
}


.menu{
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkturquoise;
    overflow-x: hidden;
    padding-top: 20px;
}

.menu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.menu a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 300px;
    font-size: 28px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .menu{
        padding-top: 15px;
    }

    .menu a {
        font-size: 18px;
    }
}
img{
    height:250px ;
    padding: 30px;
    border: 10px dimgray;
    
}
.azul{
    color: darkturquoise;
}
.tamanho{
    height: 40px;
    padding: 10px;
}

.lado{
    float: left;
}
.laranja{
    color: orangered;
}
body.modo-noturno{
    background-color: black;
    color: white;
}
button{
    margin-left: 20px;
    background-color: turquoise;
    color: white;
}
button:hover{
    background-color: black;
}
a:hover{
    color:red;
}